@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.body{
  background-color: #000000;
}

.header_text_1{
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color:beige;
}

.header_text_2{
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color:#36b1a7;
}

.button_container{
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50px;
  justify-content: space-between;
  margin-top: 12px;

}

.cv{
  border-style: solid;
  border-color: #36b1a7;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;
  /* padding: 10px 16px; the first one is height, the second one is width */
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color:beige;
}

.contact{
  background-color: blue;
  color:#000000;
  border-radius: 12px;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color:beige;
}

.line{
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.photo_container{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.photo{
  max-width: auto;
  border-radius: 60px 60px 60px;
}

.about_me{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 36px;
  text-align:  justify;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color:beige;
}

.footer{
  margin-top: 0px;
  margin-bottom: 0.3rem;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color:beige;
}